 #odd{
		background-color: #D3D3D3;
	}
#no_assign{
			background-color: #D3D3D3;
			
			width:80%;
			
			font-weight: bold;
			color: red;
			
			font-size:20px;
			padding-top:30px;
			padding-bottom:30px;
			padding-left:200px;
			margin-top:20px;
	}

table {
    border-collapse: collapse;
	 display: table;
    width: 95%;
    table-layout: relative;
	 margin-left: 5px; 
	 padding-right: 105px; 
	 	
		
}
th{
	text-align:left;
}


td {
	padding-top:10px;
	padding-bottom:10px;
	}

#duration_cell {
			width: 150px;
			vertical-align: top;
			text-align: left;
	}
#name_cell{
		width: 100px;
		padding-left:5px;
		overflow: hidden;
		white-space: nowrap;
		vertical-align: top;
			
	}	
#notes_cell{
		width: 500px;	
		overflow: auto;
		
	}
#message_cell{
		width: 100px;	
		text-align: center;
		vertical-align: bottom;
	}
	
#link_cell{
			width: 50px;
			text-align: center;
			vertical-align: top;
			vertical-align: bottom;
			}
	
#pos{
		display:block;
		float: left:
		font-weight:bold;
		color: white;
		margin-left: 20px; 
		
		font-style: italic;
	}
	
		.hide_div
		{
			display:none;
			color: green;
			font-size: 12;
		}
		
#temp-request{
			
			position: absolute;
			top:35%;
		}
		
#info_php	{
		

			background-color:LightGray;
			font-weight:bold;
			letter-spacing:2px;
			padding-bottom:4px;
			padding-top:4px;
			padding-left:10px;
			
			}
			
#need_loc_date {
				display:inline;
				color:#09C;
				font-weight:bold;
			}
#show_temp_loc{
				display:inline;
			
				font-weight: bold;
			}
#show_temp_duration{
				display:inline;
				
				font-weight: bold;
			}
			

textarea {
    resize: none;
		border: 1px solid #999;

	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	margin-left: 10px;

}

input    {
	
	border: 1px solid #999;
	height: 20px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	margin-bottom: 8px;
	margin-left: 8px;
	}
	
#temp_rew_sub{
			margin-top: 8px;
			margin-left: 10px;
			}
	
#temp_rew_sub:hover {
			background:#fff;
			color:#09C;
			}	
			
#facebook{
			position: fixed;
			top:25%;
			left: 46%;
			right:45%;
			z-index:50;
			 
	
}
.facebook_block{
	background-color:#9FC0FF;
	border:2px solid #3B5998;
	float:left;
	height:30px;
	margin-left:5px;
	width:8px;
        opacity:0;
	-webkit-transform:scale(0.7);
	-webkit-animation-name: facebook;
 	-webkit-animation-duration: .5s;
 	-webkit-animation-iteration-count: 2;
 	-webkit-animation-direction: linear;

	}
#block_1{
 	-webkit-animation-delay: .1s;
 }
#block_2{
 	-webkit-animation-delay: .2s;
}
#block_3{
 	-webkit-animation-delay: .3s;
}
@-webkit-keyframes facebook{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
}

#back_form	{
		
			/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

			/* IE10 Consumer Preview */ 
			background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #001F2E 100%);

			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #001F2E 100%);

			/* Opera */ 
			background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #001F2E 100%);

			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #001F2E));

			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #001F2E 100%);

			/* W3C Markup, IE10 Release Preview */ 
			background-image: linear-gradient(to top left, #FFFFFF 0%, #001F2E 100%);
			
			padding-bottom:20px;
			 
			
			max-width: 85%;
			height: 60px;
			padding-right:15%;
			
			margin-right:20px;
			
			}
			

	
h1{
	margin-left:13%;
	padding-top: 15px;
	letter-spacing:2px;
	color:white;
	/*font-family: 'Cherry Swash', cursive;*/
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;	}

.temp_links{
			
			float: right;
			font-size: 12px;
			padding-right:10px;
			
			white-space: nowrap;
			
			margin-bottom: 20px;
			margin-top: -25px;
			
}

h2{
	font-size: 16px;
	margin-left: 200px;
	margin-top: 15px;
	
	width:75%;
	
}

#para_temp{
	font-size: 16px;
	margin-left: 150px;
	margin-top: 10px;
		
	width:65%;
	
}

#para_exp{
	font-size: 16px;
	margin-left: 150px;
	margin-top: 10px;
		
	width:55%;
	
}

#tab_div{
		margin-top: 10px;
	}

#link_resize{
				min-width:400px;
}

#temp_pos_switch{
		font-weight:bold;
}
